body {
    background: #111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 100%;
    max-width: 450px;
    margin: 40px auto;
    background: #000;
    border-radius: 12px;
    border: 2px solid #F52116;
    overflow: hidden;
    color: white;
}

.header {
    background: #F52116;
    padding: 15px;
    text-align: center;
}

.chat-box {
    height: 450px;
    padding: 10px;
    overflow-y: auto;
    background: #111;
}

.user-message {
    background: #F52116;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: right;
}

.bot-message {
    background: #222;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-left: 4px solid #F52116;
}

.input-area {
    display: flex;
    border-top: 1px solid #333;
}

input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    background: #222;
    color: white;
}

button {
    background: #F52116;
    border: none;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
}
